@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Rampart+One&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --bodyBackground: #95E8A3;
   --primary: #95E6E8;
   --secondary: #F4FDF6;
   --unselected:   #828A84;
   --playColor: green;
   --stopColor: #6A175C;
   --mainFont: 'Rampart One', cursive;
   --buttonFont: 'Alfa Slab One', cursive;
}
main{
    text-align: center;
    font-family: var(--mainFont)
}

body{
    background-color: var(--bodyBackground);
}

.sequencerButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.seqElements{
    width: 48px;
    height: 48px;
    margin: 0 calc(0.01rem + 1vw) ;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
   box-shadow: inset rgb(17 17 26 / 85%) -1px -1px 2px 0px;
   position: relative;
}

.seqElements--number{
    color: var(--secondary);
    position: absolute;
    top: 0;
}

hr{
    margin: 18px 0;
    border:none;
}

.seqElements--playing{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    top: calc(3rem + 1vw);
    position: absolute;
}

.sequencerContainer--values{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.sequencerButtons--startButton{
    width: 128px;
    height: 48px;
    font-size: 24px;
    border: none;
    outline: 2px solid;
    background-color: transparent;
    border-radius: 5%;
    margin-top: 8px;
    cursor: pointer;
    font-family: var(--buttonFont);
    box-shadow: outset rgba(54, 92, 60, 0.85) -1px -1px 2px 0px;
}

.sequencerName{
    text-align: center;
    font-size: 24px;
    margin: 8px 0;
    color: var(--playColor)
}


.bpmInput {
    height: 24px;
    cursor: pointer;
    overflow: hidden;
    -webkit-appearance: none;
    background-color: var(--secondary);
    margin: 0 8px;
    width:60%;
}

.bpmInput::-webkit-slider-thumb {
    width: 16px;
    -webkit-appearance: none;
    height: 24px;
    background: var(--playColor);
    color: var(--playColor);
}

.sequencerContainer{
    width: 100%;
    margin: 0 auto 24px;
}

.sequencerContainer--values{
    margin-top: 24px;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    border-bottom: 2px dotted var(--playColor);
    color: var(--playColor);
}
.title{
    font-family: 'Rampart One', cursive;
    margin-bottom: 16px;
    color: var(--playColor);
}
